#
#    ▄▄▄▄
#  ▄█▀▀███▄▄              █▄
#  ██    ██ ▄             ██
#  ██    ██ ████▄▄█▀█▄ ▄████ ▄█▀█▄▀██ ██▀
#  ██  ▄ ██ ██   ██▄█▀ ██ ██ ██▄█▀  ███
#   ▀█████▄▄█▀  ▄▀█▄▄▄▄█▀███▄▀█▄▄▄▄██ ██▄
#        ▀█
#
#  Copyright (C) 2026 — 2026, Qredex, LTD. All Rights Reserved.
#
#  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
#  Licensed under the Apache License, Version 2.0. See LICENSE for the full license text.
#  You may not use this file except in compliance with that License.
#  Unless required by applicable law or agreed to in writing, software distributed under the
#  License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
#  either express or implied. See the License for the specific language governing permissions
#  and limitations under the License.
#
#  If you need additional information or have any questions, please email: copyright@qredex.com
#

openapi: 3.0.3
info:
  title: Qredex Core API
  version: "1.0.0"
  description: |
    Qredex v1 API contract for Shopify app, merchant APIs, integration APIs, and internal APIs.
servers:
  - url: https://api.qredex.com
    description: Production
  - url: https://staging-api.qredex.com
    description: Staging
  - url: http://localhost:8080
    description: Local development

tags:
  # Auth zone (public)
  - name: Auth
    description: Authentication endpoints (public)
  # Webhooks zone (public)
  - name: Webhooks
    description: Webhook endpoints (public, signature-verified)
  # Agent zone (client-runtime)
  - name: Agent
    description: Agent zone API (client-runtime, unauthenticated)
  # Merchant zone (Human Dashboard)
  - name: Merchant
    description: Merchant dashboard API (human users)
  # Integrations zone (SDK/machine)
  - name: Integrations
    description: Integrations API (SDK/machine-to-machine)
  # Internal zone (Qredex admin)
  - name: Internal
    description: Internal admin endpoints

paths:
  /api/v1/auth/shopify/install:
    get:
      tags: [ Auth ]
      summary: Start Shopify OAuth install
      parameters:
        - in: query
          name: shop
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect to Shopify OAuth grant

  /api/v1/auth/shopify/callback:
    get:
      tags: [ Auth ]
      summary: Complete Shopify OAuth callback
      parameters:
        - in: query
          name: code
          required: true
          schema:
            type: string
        - in: query
          name: hmac
          required: true
          schema:
            type: string
        - in: query
          name: shop
          required: true
          schema:
            type: string
        - in: query
          name: state
          required: true
          schema:
            type: string
        - in: query
          name: host
          required: false
          schema:
            type: string
      responses:
        "302":
          description: Redirect into embedded app

  /api/v1/auth/shopify/exchange:
    post:
      tags: [ Auth ]
      summary: Exchange Shopify session token for merchant JWT + refresh
      security:
        - ShopifySession: [ ]
      responses:
        "200":
          description: Merchant tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantApiTokenResponse"
        "403":
          description: Forbidden - Invalid or missing Shopify session token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/internal/token:
    post:
      tags: [ Auth ]
      summary: Issue internal API token using bootstrap basic credentials
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueInternalTokenRequest"
      responses:
        "200":
          description: Internal tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthTokenResponse"

  /api/v1/auth/internal/refresh:
    post:
      tags: [ Auth ]
      summary: Refresh internal API token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: Internal tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalAuthTokenResponse"

  /api/v1/auth/internal/revoke:
    post:
      tags: [ Auth ]
      summary: Revoke current internal access token session
      security:
        - InternalJwt: [ ]
      responses:
        "204":
          description: Revoked
        "403":
          description: Forbidden - Invalid or missing token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/merchant/password/setup:
    post:
      tags: [ Auth ]
      summary: Redeem one-time merchant setup code and issue merchant tokens
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetupMerchantPasswordRequest"
      responses:
        "200":
          description: Merchant tokens issued after successful password setup
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantApiTokenResponse"
        "400":
          description: Invalid setup code (errorCode=invalid_setup_code) or request validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Merchant setup subject not found (unknown email or no merchant membership)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Password is already set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/merchant/password/login:
    post:
      tags: [ Auth ]
      summary: Merchant password login
      description: |
        Public login endpoint for merchant dashboard users.
        Uses non-enumerating semantics: unknown email, non-member users, and wrong password all return 401.
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantPasswordLoginRequest"
      responses:
        "200":
          description: Merchant tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantApiTokenResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Merchant user or merchant account is inactive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/merchant/password/refresh:
    post:
      tags: [ Auth ]
      summary: Refresh merchant JWT
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "200":
          description: Merchant tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantApiTokenResponse"
        "401":
          description: Invalid refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/merchant/password/revoke:
    post:
      tags: [ Auth ]
      summary: Revoke merchant refresh token
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshTokenRequest"
      responses:
        "204":
          description: Revoked (idempotent)
        "429":
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/merchant/me:
    get:
      tags: [ Merchant ]
      summary: Merchant summary for current merchant JWT
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Merchant summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantSummaryResponse"

  /api/v1/merchant/me/health:
    get:
      tags: [ Merchant ]
      summary: Merchant health for current merchant JWT
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Health summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantHealthResponse"

  /api/v1/merchant/me/dashboard:
    get:
      tags: [ Merchant ]
      summary: Merchant dashboard summary metrics
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Dashboard summary metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantDashboardResponse"

  /api/v1/merchant/me/dashboard/stores:
    get:
      tags: [ Merchant ]
      summary: Store-scoped dashboard webhook observability
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Dashboard rows by store
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MerchantStoreDashboardResponse"

  /api/v1/merchant/me/dashboard/stores/{store_id}:
    get:
      tags: [ Merchant ]
      summary: Store-scoped dashboard for one store
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: store_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Dashboard row for one store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantStoreDashboardResponse"
        "404":
          description: Store not found in merchant context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/merchant/me/account/disconnect-delete:
    post:
      tags: [ Merchant ]
      summary: Disconnect and delete merchant account
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Updated merchant summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantSummaryResponse"

  /api/v1/merchant/users:
    get:
      tags: [ Merchant ]
      summary: List merchant members
      security:
        - MerchantJwt: [ ]
      responses:
        "200":
          description: Merchant members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MerchantUserResponse"
    post:
      tags: [ Merchant ]
      summary: Create merchant member
      security:
        - MerchantJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMerchantUserRequest"
      responses:
        "201":
          description: Merchant member created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantUserResponse"

  /api/v1/merchant/users/{user_id}/role:
    patch:
      tags: [ Merchant ]
      summary: Update merchant member role
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMerchantUserRoleRequest"
      responses:
        "200":
          description: Merchant member updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantUserResponse"

  /api/v1/merchant/users/{user_id}:
    delete:
      tags: [ Merchant ]
      summary: Remove merchant member
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Merchant member removed

  /api/v1/merchant/users/{user_id}/setup:
    post:
      tags: [ Merchant ]
      summary: Issue merchant user setup code
      description: |
        Issues a one-time setup code for an existing merchant member in the same merchant context.
        Only merchant OWNER or ADMIN can issue setup codes. Existing active codes are revoked and
        rotated to a newly issued code.
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Setup code issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueMerchantUserSetupCodeResponse"
        "401":
          description: Unauthorized - missing or invalid Merchant JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Forbidden - caller is not merchant OWNER or ADMIN
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Target user is not a member of this merchant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Target user cannot be onboarded (inactive or password already set)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/merchant/ownership/transfer:
    post:
      tags: [ Merchant ]
      summary: Transfer merchant ownership to another active member
      security:
        - MerchantJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferMerchantOwnershipRequest"
      responses:
        "200":
          description: Ownership transferred (or no-op if target already ownership-capable)
        "403":
          description: Caller is not ownership-capable or not an active member
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Target user is not an active member of this merchant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Ownership transfer conflict; caller should retry
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/merchant/stores:
    post:
      tags: [ Merchant ]
      summary: Create merchant store (direct merchants only)
      security:
        - MerchantJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMerchantStoreRequest"
      responses:
        "201":
          description: Merchant store created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantStoreResponse"

  /api/v1/merchant/creators:
    get:
      tags: [ Merchant ]
      summary: List creators
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: query
          name: q
          required: false
          schema:
            type: string
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [ACTIVE, DISABLED]
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
        - in: query
          name: sort
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Creator page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorPageResponse"
        "400":
          description: Invalid query parameters (for example malformed page, size, or status)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags: [ Merchant ]
      summary: Create creator
      security:
        - MerchantJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCreatorRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/merchant/creators/{creator_id}:
    get:
      tags: [ Merchant ]
      summary: Get creator by UUID
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: creator_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Creator
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"
    patch:
      tags: [ Merchant ]
      summary: Update creator mutable fields
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: creator_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCreatorRequest"
      responses:
        "200":
          description: Updated creator
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/merchant/creators/{creator_id}/disable:
    post:
      tags: [ Merchant ]
      summary: Disable creator
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: creator_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Disabled creator
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/merchant/creators/{creator_id}/enable:
    post:
      tags: [ Merchant ]
      summary: Enable creator
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: creator_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Enabled creator
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/merchant/links:
    get:
      tags: [ Merchant ]
      summary: List links
      description: |
        Retrieves a paginated list of influence links with optional filtering.
        
        ## Query Filters
        
        - `status` - Filter by link status (case-insensitive): `ACTIVE` or `DISABLED`
        - `destination` - Filter by exact destination path match
        - `expired` - Filter by expiration status: `true` (expired) or `false` (not expired)
          - `expired=true` returns links where `link_expiry_at` is not null and <= now()
          - `expired=false` returns links where `link_expiry_at` is null or > now()
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
        - in: query
          name: sort
          required: false
          schema:
            type: string
        - in: query
          name: status
          required: false
          description: Filter by link status (ACTIVE or DISABLED, case-insensitive)
          schema:
            type: string
            enum: [ACTIVE, DISABLED]
            example: ACTIVE
        - in: query
          name: destination
          required: false
          description: Filter by exact destination path match
          schema:
            type: string
            example: /collections/summer
        - in: query
          name: expired
          required: false
          description: Filter by expiration status (true = expired, false = not expired)
          schema:
            type: boolean
            example: false
      responses:
        "200":
          description: Link list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkPageResponse"
        "400":
          description: Invalid query parameters (for example malformed page, size, status, destination, or expired)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
    post:
      tags: [ Merchant ]
      summary: Create link
      security:
        - MerchantJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLinkRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"

  /api/v1/merchant/links/{link_id}:
    get:
      tags: [ Merchant ]
      summary: Get link by UUID
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: link_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"
    patch:
      tags: [ Merchant ]
      summary: Update link configuration
      description: |
        Updates the configuration of an existing influence link.
        
        ## Update Rules
        
        | Field | Allowed? | Conditions |
        |-------|----------|------------|
        | `linkName` | ✅ Yes | Anytime |
        | `note` | ✅ Yes | Anytime |
        | `attributionWindowDays` | ⚠️ Restricted | Only if NO intent exists (IIT or PIT). Must be one of: 1, 3, 7, 14, 30 |
        | `linkExpiryAt` | ⚠️ Restricted | Only if NO intent exists. Must be in the future |
        | `discountCode` | ⚠️ Restricted | Only if NO intent exists |
        | `status` | ⚠️ Restricted | `ACTIVE`→`DISABLED`: Always allowed<br>`DISABLED`→`ACTIVE`: Only if NO intent exists |
        | `destinationPath` | ❌ Never | Immutable after creation |
        
        ## Error Responses
        
        - `403 Forbidden` - Returned when attempting to update restricted fields after intent creation
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: link_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLinkRequest"
      responses:
        "200":
          description: Updated link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"
        "403":
          description: Forbidden - intent already created for this link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Link not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/merchant/links/{link_id}/stats:
    get:
      tags: [ Merchant ]
      summary: Get link stats
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: link_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Link stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkStatsResponse"

  /api/v1/merchant/orders:
    get:
      tags: [ Merchant ]
      summary: List order attributions
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Page of order attributions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionPageResponse"
        "400":
          description: Invalid query parameters (for example malformed page or size)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/merchant/orders/{order_attribution_id}/details:
    get:
      tags: [ Merchant ]
      summary: Get order attribution details by UUID
      security:
        - MerchantJwt: [ ]
      parameters:
        - in: path
          name: order_attribution_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detailed order attribution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionDetailsResponse"

  /api/v1/integrations/creators:
    get:
      tags: [ Integrations ]
      summary: List creators
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
        - in: query
          name: status
          required: false
          schema:
            type: string
            enum: [ACTIVE, DISABLED]
      responses:
        "200":
          description: Creator page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorPageResponse"
    post:
      tags: [ Integrations ]
      summary: Create creator
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCreatorRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/integrations/creators/{creator_id}:
    get:
      tags: [ Integrations ]
      summary: Get creator by UUID
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: creator_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Creator
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatorResponse"

  /api/v1/integrations/links:
    get:
      tags: [ Integrations ]
      summary: List links
      description: |
        Retrieves a paginated list of influence links with optional filtering.

        ## Query Filters

        - `status` - Filter by link status (case-insensitive): `ACTIVE` or `DISABLED`
        - `destination` - Filter by exact destination path match
        - `expired` - Filter by expiration status: `true` (expired) or `false` (not expired)
          - `expired=true` returns links where `link_expiry_at` is not null and <= now()
          - `expired=false` returns links where `link_expiry_at` is null or > now()
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
        - in: query
          name: status
          required: false
          description: Filter by link status (ACTIVE or DISABLED, case-insensitive)
          schema:
            type: string
            enum: [ACTIVE, DISABLED]
            example: ACTIVE
        - in: query
          name: destination
          required: false
          description: Filter by exact destination path match
          schema:
            type: string
            example: /collections/summer
        - in: query
          name: expired
          required: false
          description: Filter by expiration status (true = expired, false = not expired)
          schema:
            type: boolean
            example: false
      responses:
        "200":
          description: Link list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkPageResponse"
    post:
      tags: [ Integrations ]
      summary: Create link (machine-to-machine)
      description: |
        Creates a new influence link from backend/machine systems.

        This endpoint is the **authenticated machine surface** for link creation, designed for
        backend systems, SDKs, or automated tools that need to create influence links
        programmatically without human dashboard interaction.

        ## Difference from Merchant Link Creation

        | Aspect | Merchant Zone | Integrations Zone |
        |--------|--------------|-------------------|
        | Endpoint | `/api/v1/merchant/links` | `/api/v1/integrations/links` |
        | Authentication | Merchant JWT | Integrations JWT |
        | Use Case | Human dashboard/backoffice | Backend/machine automation |
        | Scope required | N/A (role-based) | `direct:links:write` |

        ## Security
        Requires valid Direct API JWT with `scope:direct:links:write` authority.
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateLinkRequest"
            example:
              store_id: "61abc354-dd8d-4a23-be02-ece77b1b4da6"
              creator_id: "16fca3f2-b346-4f98-8e52-0895aac61c5b"
              link_name: "spring-launch-link"
              destination_path: "/products/spring-launch"
              note: "Created by backend integration"
              attribution_window_days: 30
              discount_code: "SPRING30"
              status: "ACTIVE"
      responses:
        "201":
          description: Link created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid Integrations JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Insufficient scope (requires `direct:links:write`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/links/{link_id}:
    get:
      tags: [ Integrations ]
      summary: Get link by UUID
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: link_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Link
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkResponse"

  /api/v1/integrations/links/{link_id}/stats:
    get:
      tags: [ Integrations ]
      summary: Get link stats
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: link_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Link stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LinkStatsResponse"

  /api/v1/integrations/orders:
    get:
      tags: [ Integrations ]
      summary: List order attributions
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: query
          name: page
          required: false
          schema:
            type: integer
        - in: query
          name: size
          required: false
          schema:
            type: integer
      responses:
        "200":
          description: Page of order attributions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionPageResponse"

  /api/v1/integrations/orders/paid:
    post:
      tags: [ Integrations ]
      summary: Record paid order
      description: Direct API order ingestion. `order_source` is inferred as `DIRECT_API` from this endpoint.
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordPaidOrderRequest"
            example:
              store_id: "61abc354-dd8d-4a23-be02-ece77b1b4da6"
              external_order_id: "order-100045"
              order_number: "100045"
              paid_at: "2026-03-14T12:45:00Z"
              currency: "USD"
              subtotal_price: 118.0
              discount_total: 8.0
              total_price: 110.0
              customer_email_hash: "9f86d081884c7d659a2feaa0c55ad015"
              checkout_token: "chk_01hxyzexample"
              purchase_intent_token: "eyJhbGciOiJIUzI1NiJ9.example"
      responses:
        "201":
          description: Recorded paid order attribution (new write or idempotent replay)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionResponse"
        "400":
          description: Invalid request payload (missing required fields or malformed values)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Ingestion rejected by source policy or cross-source duplicate policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/orders/refund:
    post:
      tags: [ Integrations ]
      summary: Record order refund
      description: Direct API refund ingestion. `order_source` is inferred as `DIRECT_API` from this endpoint.
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordRefundOrderRequest"
            example:
              store_id: "61abc354-dd8d-4a23-be02-ece77b1b4da6"
              external_order_id: "order-100045"
              external_refund_id: "refund-100045-1"
              refund_total: 25.0
              refunded_at: "2026-03-15T09:00:00Z"
      responses:
        "201":
          description: Updated order attribution after refund (new write or idempotent replay)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionResponse"
        "400":
          description: Invalid request payload (missing required fields or malformed values)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "409":
          description: Ingestion rejected by source policy or cross-source duplicate policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/orders/{order_attribution_id}/details:
    get:
      tags: [ Integrations ]
      summary: Get order attribution details by UUID
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: order_attribution_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detailed order attribution
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderAttributionDetailsResponse"

  # Internal API Zone Endpoints (/api/v1/internal/*)
  # These endpoints are for Qredex admin users who authenticate via Internal JWT

  # ========== Internal > Merchants ==========
  /api/v1/internal/merchants:
    post:
      tags: [ Internal ]
      summary: Create merchant (Internal Admin)
      description: |
        Creates a new merchant account with optional store and Direct API client.
        Set `direct_client_display_name` to provision the initial Direct API client.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInternalMerchantRequest"
      responses:
        "201":
          description: Merchant created with optional store and Direct API client
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateInternalMerchantResponse"

  /api/v1/internal/merchants/{merchant_id}:
    patch:
      tags: [ Internal ]
      summary: Update merchant configuration (Internal Admin)
      description: |
        Updates merchant configuration fields. Only provided fields are updated.
        
        ## Updatable Fields
        
        - `enabled_order_sources` - Replaces the enabled order source set
        - `store_domain` - Updates the primary store domain
        - `duplicate_policy` - Updates cross-source duplicate handling policy
        - `migration_override` - Required when changing fields after ingestion started
        - `reason` - Audit reason for migration override operations
        
        ## Migration Override Rules
        
        If ingestion has already started, changes to `enabled_order_sources` or `store_domain`
        require `migration_override=true` and an internal admin caller.
        
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInternalMerchantRequest"
      responses:
        "200":
          description: Merchant configuration updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantSummaryResponse"

  # ========== Internal > Users ==========
  /api/v1/internal/users:
    post:
      tags: [ Internal ]
      summary: Create user (Internal Admin)
      description: |
        Creates a new internal user account.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInternalUserRequest"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalUserResponse"
    get:
      tags: [ Internal ]
      summary: List users (Internal Admin)
      description: |
        Returns a list of all internal users.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      responses:
        "200":
          description: List of internal users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InternalUserResponse"

  /api/v1/internal/users/{user_id}/role:
    patch:
      tags: [ Internal ]
      summary: Update user role (Internal Admin)
      description: |
        Updates the role of an internal user.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInternalUserRoleRequest"
      responses:
        "200":
          description: User role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalUserResponse"

  /api/v1/internal/users/{user_id}/setup:
    post:
      tags: [ Internal ]
      summary: Issue merchant user setup code (Internal Admin)
      description: |
        Issues a one-time setup code for manual merchant user onboarding.
        The code is returned only once, hashed at rest, and expires automatically.
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueMerchantUserSetupCodeRequest"
      responses:
        "200":
          description: Setup code issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueMerchantUserSetupCodeResponse"
        "409":
          description: Active setup code already exists for user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/internal/merchants/{merchant_id}/users:
    post:
      tags: [ Internal ]
      summary: Create merchant member (Internal Admin)
      description: |
        Creates a merchant dashboard member for the target merchant.
        Internal admin may create OWNER directly; OWNER bootstrap is handled atomically inside the service.
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInternalMerchantMemberRequest"
      responses:
        "201":
          description: Merchant member created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantUserResponse"
        "409":
          description: Merchant member already exists or merchant is not active
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/internal/merchants/{merchant_id}/stores/shopify-bind:
    post:
      tags: [ Internal ]
      summary: Bind Shopify store (Internal Admin)
      description: |
        Binds a Shopify store context to an existing merchant for internal provisioning, sandbox,
        and test flows. This creates or reactivates the merchant's Shopify store binding without
        running the public Shopify OAuth install flow.
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindInternalMerchantShopifyStoreRequest"
      responses:
        "201":
          description: Shopify store bound
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalStoreResponse"
        "409":
          description: Shopify shop domain already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/internal/merchants/{merchant_id}/users/{user_id}/role:
    patch:
      tags: [ Internal ]
      summary: Update merchant member role (Internal Admin Override)
      description: |
        Internal admin override to update a merchant member's role.

        This endpoint is restricted to Qredex internal administrators for recovery and incident handling.
        It bypasses normal merchant authorization but enforces safety rules:

        - Merchant must exist and be ACTIVE
        - Target user must be a member of the merchant
        - Cannot demote the last OWNER (would leave merchant with zero OWNERs)
        - Promoting to OWNER is always allowed (recovery path)

        All attempts (success and failure) are audit logged.
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: merchant_id
          required: true
          schema:
            type: string
            format: uuid
          description: The merchant identifier
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
          description: The user identifier (member)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMerchantMemberRoleRequest"
      responses:
        "200":
          description: Merchant member role updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantUserResponse"
        "401":
          description: Unauthorized - Invalid or missing Internal JWT
        "403":
          description: Forbidden - Insufficient privileges or attempting to demote last OWNER
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Not found - Merchant or user does not exist
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflict - Merchant is not ACTIVE or has been uninstalled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  # ========== Internal > Direct API Clients ==========
  /api/v1/internal/direct-clients:
    get:
      tags: [ Internal ]
      summary: List Direct API clients (Internal Admin)
      description: |
        Returns a list of all Direct API clients.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      responses:
        "200":
          description: List of Direct API clients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DirectApiClientSummaryResponse"

  /api/v1/internal/direct-clients/{client_id}/rotate-secret:
    post:
      tags: [ Internal ]
      summary: Rotate Direct API client secret (Internal Admin)
      description: |
        Rotates the client secret for a Direct API client.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: client_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Client secret rotated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProvisionDirectApiClientResponse"

  /api/v1/internal/direct-clients/{client_id}/revoke:
    post:
      tags: [ Internal ]
      summary: Revoke Direct API client (Internal Admin)
      description: |
        Revokes a Direct API client, invalidating its credentials.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: client_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Client revoked

  /api/v1/internal/direct-clients/{client_id}/activate:
    post:
      tags: [ Internal ]
      summary: Activate Direct API client (Internal Admin)
      description: |
        Activates a previously revoked Direct API client.
        This endpoint is for Qredex admin users (authenticated via Internal JWT).
      security:
        - InternalJwt: [ ]
      parameters:
        - in: path
          name: client_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Client activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectApiClientSummaryResponse"

  # ========== Webhooks > Shopify ==========
  /api/v1/webhooks/shopify/orders/paid:
    post:
      tags: [ Webhooks ]
      summary: Shopify orders/paid webhook
      description: |
        Receives Shopify orders/paid webhook events.
        This is a public endpoint that verifies Shopify webhook signatures.
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Shopify orders/paid webhook payload
      responses:
        "200":
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAckResponse"

  /api/v1/webhooks/shopify/refunds/create:
    post:
      tags: [ Webhooks ]
      summary: Shopify refunds/create webhook
      description: |
        Receives Shopify refunds/create webhook events.
        This is a public endpoint that verifies Shopify webhook signatures.
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Shopify refunds/create webhook payload
      responses:
        "200":
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAckResponse"

  /api/v1/webhooks/shopify/app/uninstalled:
    post:
      tags: [ Webhooks ]
      summary: Shopify app/uninstalled webhook
      description: |
        Receives Shopify app/uninstalled webhook events.
        This is a public endpoint that verifies Shopify webhook signatures.
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Shopify app/uninstalled webhook payload
      responses:
        "200":
          description: Webhook acknowledged
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookAckResponse"

  # ========== Agent Zone ==========
  /api/v1/agent/intents/lock:
    post:
      tags: [ Agent ]
      summary: Lock Purchase Intent token (client-runtime)
      description: |
        Locks a Purchase Intent token for order attribution from client-runtime contexts.

        This endpoint is unauthenticated and intended for browser/SDK runtime usage on cart events.
        The merchant context is resolved from the influence intent token provided in the request.

        ## Use Case
        Call this endpoint when a customer adds items to cart or initiates checkout.
        The influence intent token (IIT) is obtained from the redirect flow or stored client-side.

        ## Response
        Returns only the minimum safe data required by client-runtime:
        - `token`: The locked Purchase Intent token
        - `expires_at`: When the intent expires
        - `locked_at`: When the intent was locked

        ## Security
        This endpoint is publicly accessible but validates the influence intent token signature.
        Invalid or expired tokens will be rejected.
      security: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentLockIntentRequest"
      responses:
        "201":
          description: Purchase Intent locked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentLockIntentResponse"
        "400":
          description: Invalid request or token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Merchant or intent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  # ========== Integrations Zone (Authenticated Machine) ==========
  /api/v1/integrations/intents/lock:
    post:
      tags: [ Integrations ]
      summary: Lock Purchase Intent token (authenticated machine-to-machine)
      description: |
        Locks a Purchase Intent token for order attribution from authenticated machine clients.

        This endpoint requires Direct API (Integrations) JWT authentication and returns the
        **full machine-facing response** with complete attribution details, snapshots, and
        internal identifiers.

        ## Difference from AGENT Zone

        | Aspect | AGENT Zone | INTEGRATIONS Zone |
        |--------|------------|-------------------|
        | Authentication | None (public) | IntegrationsJwt required |
        | Response | Minimal (`token`, `expires_at`, `locked_at`) | Full (`PurchaseIntentResponse`) |
        | Use Case | Browser/SDK runtime | Backend/server-side systems |
        | Fields exposed | 3 safe fields | All attribution details, snapshots, IDs |

        ## Use Case
        Call this endpoint from backend systems, SDKs, or server-side integrations that need
        complete attribution details for order processing and reconciliation.

        ## Security
        Requires valid Direct API JWT with `scope:direct:intents:write` authority.
        The influence intent token signature is also verified before locking.
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAndLockPurchaseIntentRequest"
            example:
              token: "eyJhbGciOiJIUzI1NiJ9.example"
              source: "browser-cart"
              integrity_version: 2
      responses:
        "201":
          description: Purchase intent locked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseIntentResponse"
        "400":
          description: Invalid request or token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid Integrations JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Insufficient scope (requires `direct:intents:write`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Merchant or intent not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/intents/{pit}:
    get:
      tags: [ Integrations ]
      summary: Get purchase intent by Purchase Intent token
      description: |
        Retrieves a purchase intent by its Purchase Intent (PIT) token string.

        This is commonly used during order processing to find the purchase intent
        that should be associated with a specific order.
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: pit
          required: true
          schema:
            type: string
          description: The Purchase Intent token (JWT string)
      responses:
        "200":
          description: Purchase intent found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseIntentResponse"
        "404":
          description: Purchase intent not found for token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/intents/by-token-id/{token_id}:
    get:
      tags: [ Integrations ]
      summary: Get purchase intent by token ID (UUID)
      description: |
        Retrieves a purchase intent by its token ID (UUID).

        This is useful when you have the token's UUID but not the full JWT token string.
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: token_id
          required: true
          schema:
            type: string
            format: uuid
          description: The token UUID
      responses:
        "200":
          description: Purchase intent found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseIntentResponse"
        "404":
          description: Purchase intent not found for token ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/intents/by-iit/{iit}:
    get:
      tags: [ Integrations ]
      summary: Get purchase intent by Influence Intent token
      description: |
        Retrieves a purchase intent by its Influence Intent (IIT) token.

        This is useful for checking if an IIT has been locked to a PIT.
        Returns 404 if no purchase intent exists for the given IIT (i.e., not yet locked).
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: path
          name: iit
          required: true
          schema:
            type: string
          description: The Influence Intent token (JWT string)
      responses:
        "200":
          description: Purchase intent found (IIT was locked)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseIntentResponse"
        "404":
          description: Purchase intent not found (IIT not yet locked)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/integrations/intents/latest-unlocked:
    get:
      tags: [ Integrations ]
      summary: Latest unlocked purchase intent
      description: |
        Finds the latest unlocked purchase intent within the specified time period.

        This is useful for finding existing purchase intents that can be associated
        with new orders or checking for potential duplicate purchase intents.
      security:
        - IntegrationsJwt: [ ]
      parameters:
        - in: query
          name: hours
          required: false
          schema:
            type: integer
            default: 24
            minimum: 1
            maximum: 720
          description: "Number of hours to look back (default: 24, max: 720)"
      responses:
        "200":
          description: Latest unlocked purchase intent found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseIntentResponse"
        "404":
          description: No unlocked purchase intent found for time window
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

  /api/v1/auth/token:
    post:
      tags: [ Auth ]
      summary: OAuth2 client credentials token for integration API clients
      security:
        - BasicAuth: [ ]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [ grant_type ]
              properties:
                grant_type:
                  type: string
                  enum: [ client_credentials ]
                scope:
                  type: string
                client_id:
                  type: string
                  description: Optional when HTTP Basic auth is used.
                client_secret:
                  type: string
                  description: Optional when HTTP Basic auth is used.
            example:
              grant_type: client_credentials
              scope: "direct:links:write direct:intents:write direct:orders:write"
      responses:
        "200":
          description: Integration API token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
              example:
                access_token: "eyJhbGciOiJIUzI1NiJ9.example"
                token_type: "Bearer"
                expires_in: 3600
                scope: "direct:links:write direct:intents:write direct:orders:write"


  /{merchant_username}/{creator_username}/{link_code}:
    get:
      tags: [ Merchant ]
      summary: Public redirect endpoint issuing influence intent token (IIT)
      description: |
        Public redirect endpoint that automatically issues an Influence Intent Token (IIT) and redirects to the merchant destination.

        ## IIT Issuance (Automatic)
        This endpoint generates an IIT token automatically on click. The IIT is:
        - Issued automatically when users click tracking links
        - Appended to the redirect URL as `qdx_intent` query parameter
        - Stored client-side (sessionStorage) for later PIT locking
        - NOT a manual human dashboard operation

        ## Flow
        1. User clicks tracking link
        2. System validates link and issues IIT
        3. User is redirected to destination with `?qdx_intent=<token>`

        ## IIT Issuance Surfaces
        IIT can be issued through:
        - **Redirect flow** (this endpoint) - automatic on click
        - **Integrations API** (`POST /api/v1/integrations/intents/token`) - backend click flows

        IIT is NOT issued through:
        - Merchant dashboard (`/api/v1/merchant/**`) - human users do NOT manually issue IIT
        - Agent zone - AGENT is for PIT locking, not IIT issuance
      parameters:
        - in: path
          name: merchant_username
          required: true
          schema:
            type: string
        - in: path
          name: creator_username
          required: true
          schema:
            type: string
        - in: path
          name: link_code
          required: true
          schema:
            type: string
            minLength: 5
            maxLength: 5
      responses:
        "302":
          description: Redirect to merchant destination URL with `qdx_intent` query param
        "404":
          description: Merchant or link not found

  /api/v1/integrations/intents/token:
    post:
      tags: [ Integrations ]
      summary: Issue influence intent token (IIT) for backend click flows
      description: |
        Issues an Influence Intent Token (IIT) for authenticated machine-to-machine backend click flows.

        ## IIT Issuance (Machine)
        This endpoint allows authenticated Direct API clients to issue IIT tokens for merchant-controlled backend click flows.

        ## Use Cases
        - Custom link tracking outside standard redirect flow
        - Server-side click event processing
        - Backend integration scenarios where click events are processed programmatically

        ## Security
        - Requires valid Direct API JWT with `scope:direct:intents:write`
        - Influence link must exist
        - Inactive partner states are resolved later during attribution
        - NOT for human dashboard usage

        ## IIT vs PIT
        - **IIT** (this endpoint): Issued on click, tracks influence intent
        - **PIT**: Locked at add-to-cart, used for order attribution

        ## IIT Issuance Surfaces
        IIT can be issued through:
        - **Redirect flow** (`/{merchant}/{creator}/{link_code}`) - automatic on click
        - **Integrations API** (this endpoint) - backend click flows

        IIT is NOT issued through:
        - Merchant dashboard (`/api/v1/merchant/**`) - human users do NOT manually issue IIT
        - Agent zone - AGENT is for PIT locking, not IIT issuance
      security:
        - IntegrationsJwt: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IssueInfluenceIntentTokenRequest"
      responses:
        "201":
          description: Influence intent token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfluenceIntentResponse"
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "401":
          description: Missing or invalid Integrations JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "403":
          description: Insufficient scope (requires `direct:intents:write`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        "404":
          description: Link not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"

components:
  securitySchemes:
    MerchantJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Qredex merchant JWT for Human Dashboard API (`/api/v1/merchant/**`).
        Obtained from Shopify OAuth token exchange (`/api/v1/auth/shopify/exchange`) or
        merchant password auth endpoints (`/api/v1/auth/merchant/password/*`).
    IntegrationsJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Qredex integrations JWT for SDK/machine-to-machine API (`/api/v1/integrations/**`).
        Obtained from client credentials flow (`/api/v1/auth/token`).
    InternalJwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Qredex internal JWT for admin API (`/api/v1/internal/**`).
        Obtained from bootstrap credentials (`/api/v1/auth/internal/token`).
    ShopifySession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Shopify App Bridge session token. Used only for `/api/v1/auth/shopify/exchange`.
    BasicAuth:
      type: http
      scheme: basic
      description: |
        Bootstrap credentials for internal auth. Used only for `/api/v1/auth/internal/token`.

  schemas:
    MerchantPasswordLoginRequest:
      type: object
      required: [ email, password ]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    SetupMerchantPasswordRequest:
      type: object
      required: [ email, setup_code, new_password ]
      properties:
        email:
          type: string
          format: email
        setup_code:
          type: string
        new_password:
          type: string

    RefreshTokenRequest:
      type: object
      required: [ refresh_token ]
      properties:
        refresh_token:
          type: string

    IssueInternalTokenRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    InternalAuthTokenResponse:
      type: object
      properties:
        access_token: { type: string }
        expires_in: { type: integer, format: int64 }
        refresh_token: { type: string }
        refresh_expires_in: { type: integer, format: int64 }
        token_type: { type: string }
        email: { type: string }
        role: { type: string }

    OAuthTokenResponse:
      type: object
      properties:
        access_token: { type: string }
        token_type: { type: string }
        expires_in: { type: integer, format: int64 }
        scope: { type: string }

    DirectScope:
      type: string
      enum:
        - "direct:api"
        - "direct:merchant:read"
        - "direct:merchant:write"
        - "direct:links:read"
        - "direct:links:write"
        - "direct:creators:read"
        - "direct:creators:write"
        - "direct:orders:read"
        - "direct:orders:write"
        - "direct:intents:read"
        - "direct:intents:write"

    DuplicateConfidence:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH

    DuplicateReason:
      type: string
      enum:
        - EXACT_EXTERNAL_ORDER_ID
        - CHECKOUT_TOKEN_MATCH
        - CUSTOMER_EMAIL_HASH_MATCH
        - AMOUNT_TIME_MATCH

    IntegrityReason:
      type: string
      enum:
        - MISSING
        - TAMPERED
        - EXPIRED
        - MISMATCHED
        - REPLACED
        - LINK_INACTIVE
        - CREATOR_INACTIVE

    OriginMatchStatus:
      type: string
      enum:
        - MATCH
        - MISMATCH
        - ABSENT
        - UNKNOWN

    IntegrityBand:
      type: string
      enum:
        - HIGH
        - MEDIUM
        - LOW
        - CRITICAL

    ResolutionStatus:
      type: string
      enum:
        - ATTRIBUTED
        - UNATTRIBUTED
        - REJECTED

    OrderAttributionScoreBreakdownResponse:
      type: object
      properties:
        score_version: { type: integer }
        base_score: { type: integer }
        origin_adjustment: { type: integer }
        duplicate_adjustment: { type: integer }
        final_score: { type: integer }
        token_integrity: { type: string, nullable: true }
        integrity_reason:
          $ref: "#/components/schemas/IntegrityReason"
          nullable: true
        window_status: { type: string, nullable: true }
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
        origin_match_status:
          $ref: "#/components/schemas/OriginMatchStatus"
        duplicate_confidence:
          $ref: "#/components/schemas/DuplicateConfidence"
          nullable: true
        review_required: { type: boolean }
        review_reasons:
          type: array
          items: { type: string }

    MerchantApiTokenResponse:
      type: object
      properties:
        access_token: { type: string }
        expires_in: { type: integer, format: int64 }
        refresh_token: { type: string }
        refresh_expires_in: { type: integer, format: int64 }
        token_type: { type: string }

    MerchantHealthResponse:
      type: object
      properties:
        status: { type: string }
        merchant_id: { type: string, format: uuid }
        shop_domain: { type: string }
        time: { type: string, format: date-time }

    MerchantDashboardResponse:
      type: object
      properties:
        active_links: { type: integer, format: int64 }
        orders_count: { type: integer, format: int64 }
        gmv_total: { type: number, format: double }
        system_health:
          $ref: "#/components/schemas/MerchantSystemHealthResponse"

    MerchantStoreDashboardResponse:
      type: object
      properties:
        store_id: { type: string, format: uuid }
        platform:
          type: string
          enum: [ SHOPIFY, DIRECT_API ]
        domain: { type: string }
        status:
          type: string
          enum: [ACTIVE, INACTIVE]
        last_webhook_at: { type: string, format: date-time, nullable: true }
        last_webhook_minutes_ago: { type: integer, format: int64, nullable: true }
        recent_webhook_failures: { type: integer, format: int64 }
        webhook_receiving_events: { type: boolean }
        active_webhook_subscriptions: { type: integer, format: int64 }

    MerchantSystemHealthResponse:
      type: object
      properties:
        app_installed_correctly: { type: boolean }
        webhook_receiving_events: { type: boolean }
        attribution_locking_active: { type: boolean }
        no_errors_detected: { type: boolean }
        last_webhook_minutes_ago: { type: integer, format: int64, nullable: true }

    MerchantSummaryResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_code: { type: string }
        username: { type: string }
        shop_domain: { type: string }
        status: { type: string }
        enabled_order_sources:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [ SHOPIFY, DIRECT_API ]
        cross_source_duplicate_policy:
          type: string
          enum: [ALLOW_AND_FLAG, REJECT]
        installed_at: { type: string, format: date-time }
        uninstalled_at: { type: string, format: date-time, nullable: true }
        last_webhook_at: { type: string, format: date-time, nullable: true }
        api_token_version: { type: integer, format: int64 }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    MerchantMemberRole:
      type: string
      enum: [OWNER, ADMIN, EDITOR, VIEWER]

    CreateMerchantUserRequest:
      type: object
      required: [email, role]
      properties:
        email:
          type: string
          format: email
        role:
          $ref: "#/components/schemas/MerchantMemberRole"
          description: |
            Role to assign to the user.

            **Restrictions:**
            - `OWNER` cannot be assigned via this API. OWNER is only assigned via:
              - Shopify install auto-provisioning (first installer becomes OWNER)
              - Internal admin API (`PATCH /api/v1/internal/merchants/{merchantId}/users/{userId}/role`)
            - Attempting to assign `OWNER` will result in a 400 Bad Request response.

    UpdateMerchantUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          $ref: "#/components/schemas/MerchantMemberRole"
          description: |
            New role to assign to the user.

            **Restrictions:**
            - `OWNER` cannot be assigned or demoted via this API. OWNER role changes are only allowed via:
              - Internal admin API (`PATCH /api/v1/internal/merchants/{merchantId}/users/{userId}/role`)
            - Attempting to assign `OWNER` will result in a 400 Bad Request response.
            - Demoting the last `OWNER` will result in a 400 Bad Request response.

    UpdateMerchantMemberRoleRequest:
      type: object
      required: [role, reason]
      properties:
        role:
          $ref: "#/components/schemas/MerchantMemberRole"
        reason:
          type: string
          minLength: 10
          description: Reason for the role change (required, min 10 characters)

    TransferMerchantOwnershipRequest:
      type: object
      required: [new_owner_user_id, reason]
      properties:
        new_owner_user_id:
          type: string
          format: uuid
        reason:
          type: string
          minLength: 1

    MerchantUserResponse:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        email: { type: string, format: email }
        status:
          type: string
          enum: [ACTIVE, DISABLED]
        role:
          $ref: "#/components/schemas/MerchantMemberRole"
        membership_created_at: { type: string, format: date-time }

    UpdateInternalMerchantRequest:
      type: object
      properties:
        enabled_order_sources:
          type: array
          minItems: 1
          maxItems: 2
          uniqueItems: true
          items:
            type: string
            enum: [ SHOPIFY, DIRECT_API ]
        store_domain: { type: string }
        duplicate_policy:
          type: string
          enum: [ ALLOW_AND_FLAG, REJECT ]
        migration_override: { type: boolean, nullable: true }
        reason: { type: string, nullable: true }

    CreateCreatorRequest:
      type: object
      required: [handle]
      properties:
        handle: { type: string }
        display_name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        socials:
          type: object
          additionalProperties:
            type: string


    UpdateCreatorRequest:
      type: object
      properties:
        display_name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        socials:
          type: object
          additionalProperties:
            type: string

    CreatorResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        handle: { type: string }
        status: { type: string }
        display_name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        socials:
          type: object
          additionalProperties:
            type: string
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreatorListResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        handle: { type: string }
        status: { type: string }
        display_name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        socials:
          type: object
          additionalProperties:
            type: string
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        links_count: { type: integer, format: int64 }
        orders_count: { type: integer, format: int64 }
        revenue_total: { type: number, format: double }

    CreatorPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CreatorListResponse"
        page: { type: integer }
        size: { type: integer }
        total_elements: { type: integer, format: int64 }
        total_pages: { type: integer }

    CreatorLinkResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        link_name: { type: string }
        link_code: { type: string }
        destination_path: { type: string }
        note: { type: string, nullable: true }
        status: { type: string }
        attribution_window_days: { type: integer }
        link_expiry_at: { type: string, format: date-time, nullable: true }
        discount_code: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreatorLinksPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/CreatorLinkResponse"
        page: { type: integer }
        size: { type: integer }
        total_elements: { type: integer, format: int64 }
        total_pages: { type: integer }

    CreateLinkRequest:
      type: object
      required: [ store_id, creator_id, link_name, destination_path ]
      properties:
        store_id: { type: string, format: uuid }
        creator_id: { type: string, format: uuid }
        link_name: { type: string }
        destination_path: { type: string }
        note: { type: string, nullable: true, maxLength: 500 }
        attribution_window_days: { type: integer, nullable: true }
        link_expiry_at: { type: string, format: date-time, nullable: true }
        discount_code: { type: string, nullable: true }
        status: { type: string, nullable: true }

    UpdateLinkRequest:
      type: object
      description: |
        Request to update link configuration.
        
        ## Update Rules
        
        - `link_name` - Always allowed
        - `note` - Always allowed
        - `attribution_window_days` - Only if NO intent exists (1, 3, 7, 14, 30)
        - `link_expiry_at` - Only if NO intent exists (must be future)
        - `discount_code` - Only if NO intent exists
        - `status` - `ACTIVE`→`DISABLED` always; `DISABLED`→`ACTIVE` only if NO intent
      properties:
        link_name: { type: string, nullable: true }
        note: { type: string, nullable: true, maxLength: 500 }
        attribution_window_days: { type: integer, nullable: true, enum: [1, 3, 7, 14, 30] }
        link_expiry_at: { type: string, format: date-time, nullable: true }
        discount_code: { type: string, nullable: true }
        status: { type: string, nullable: true, enum: [ACTIVE, DISABLED] }

    LinkResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        creator_id: { type: string, format: uuid }
        link_name: { type: string }
        link_code: { type: string }
        public_link_url: { type: string }
        destination_path: { type: string }
        note: { type: string, nullable: true }
        status: { type: string }
        attribution_window_days: { type: integer }
        link_expiry_at: { type: string, format: date-time, nullable: true }
        disabled_at: { type: string, format: date-time, nullable: true, description: "Timestamp when link was disabled (null if active)" }
        discount_code: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    LinkListResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        link_name: { type: string }
        link_code: { type: string }
        destination_path: { type: string }
        note: { type: string, nullable: true }
        status: { type: string }
        attribution_window_days: { type: integer }
        link_expiry_at: { type: string, format: date-time, nullable: true }
        discount_code: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        creator_id: { type: string, format: uuid }
        creator_handle: { type: string }
        creator_display_name: { type: string, nullable: true }
        clicks_count: { type: integer, format: int64 }
        orders_count: { type: integer, format: int64 }
        revenue_total: { type: number, format: double }

    LinkPageResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/LinkListResponse"
        page: { type: integer }
        size: { type: integer }
        total_elements: { type: integer, format: int64 }
        total_pages: { type: integer }

    LinkStatsResponse:
      type: object
      properties:
        link_id: { type: string, format: uuid }
        clicks_count: { type: integer, format: int64 }
        sessions_count: { type: integer, format: int64 }
        orders_count: { type: integer, format: int64 }
        revenue_total: { type: number, format: double }
        token_invalid_count: { type: integer, format: int64 }
        token_missing_count: { type: integer, format: int64 }
        last_click_at: { type: string, format: date-time, nullable: true }
        last_order_at: { type: string, format: date-time, nullable: true }

    IssueInfluenceIntentTokenRequest:
      type: object
      required: [ link_id ]
      properties:
        link_id: { type: string, format: uuid }
        ip_hash: { type: string, nullable: true }
        user_agent_hash: { type: string, nullable: true }
        referrer: { type: string, nullable: true }
        landing_path: { type: string, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        integrity_version: { type: integer, nullable: true }

    InfluenceIntentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        link_id: { type: string, format: uuid }
        token: { type: string }
        token_id: { type: string, format: uuid }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        status: { type: string }
        integrity_version: { type: integer }
        ip_hash: { type: string, nullable: true }
        user_agent_hash: { type: string, nullable: true }
        referrer: { type: string, nullable: true }
        landing_path: { type: string, nullable: true }
        timing:
          $ref: "#/components/schemas/TimedResponse"

    CreateAndLockPurchaseIntentRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }
        source: { type: string, nullable: true }
        integrity_version: { type: integer, nullable: true }

    AgentLockIntentRequest:
      type: object
      required: [token]
      description: |
        Request to lock a purchase intent token from AGENT zone (client-runtime).
        Contains only the influence intent token.
      properties:
        token:
          type: string
          description: The influence intent token (IIT) to lock

    AgentLockIntentResponse:
      type: object
      description: |
        Minimal response for AGENT zone purchase intent lock operation.
        Contains only the minimum safe data required by client-runtime.
      properties:
        token:
          type: string
          description: The locked purchase intent token (PIT)
        expires_at:
          type: string
          format: date-time
          description: When the intent expires
        locked_at:
          type: string
          format: date-time
          description: When the intent was locked

    PurchaseIntentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        link_id: { type: string, format: uuid }
        token: { type: string }
        token_id: { type: string, format: uuid }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        locked_at: { type: string, format: date-time, nullable: true }
        source: { type: string, nullable: true }
        origin_match_status:
          $ref: "#/components/schemas/OriginMatchStatus"
        integrity_version: { type: integer }
        window_status: { type: string }
        attribution_window_days_snapshot: { type: integer }
        store_domain_snapshot: { type: string }
        link_expiry_at_snapshot: { type: string, format: date-time, nullable: true }
        discount_code_snapshot: { type: string, nullable: true }
        eligible: { type: boolean }
        timing:
          $ref: "#/components/schemas/TimedResponse"

    PurchaseIntentResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        store_id: { type: string, format: uuid }
        link_id: { type: string, format: uuid }
        influence_intent_id: { type: string, format: uuid }
        token: { type: string }
        token_id: { type: string, format: uuid }
        source: { type: string }
        origin_match_status:
          $ref: "#/components/schemas/OriginMatchStatus"
        window_status: { type: string }
        attribution_window_days: { type: integer }
        store_domain_snapshot: { type: string }
        link_expiry_at_snapshot: { type: string, format: date-time, nullable: true }
        discount_code_snapshot: { type: string, nullable: true }
        issued_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        locked_at: { type: string, format: date-time, nullable: true }
        integrity_version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    TimedResponse:
      type: object
      properties:
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    CreateMerchantStoreRequest:
      type: object
      required: [domain]
      properties:
        domain: { type: string }
        platform:
          type: string
          enum: [ SHOPIFY, DIRECT_API ]
          nullable: true

    MerchantStoreResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        platform:
          type: string
          enum: [ SHOPIFY, DIRECT_API ]
        domain: { type: string }
        status:
          type: string
          enum: [ ACTIVE, INACTIVE ]
        is_primary: { type: boolean }
        installed_at: { type: string, format: date-time }
        uninstalled_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    RecordPaidOrderRequest:
      type: object
      required: [ store_id, external_order_id, currency ]
      properties:
        store_id:
          type: string
          format: uuid
          description: Store id.
        external_order_id: { type: string }
        order_number: { type: string, nullable: true }
        paid_at: { type: string, format: date-time, nullable: true }
        currency: { type: string }
        subtotal_price: { type: number, format: double, nullable: true }
        discount_total: { type: number, format: double, nullable: true }
        total_price: { type: number, format: double, nullable: true }
        customer_email_hash: { type: string, nullable: true }
        checkout_token: { type: string, nullable: true }
        purchase_intent_token: { type: string, nullable: true }

    RecordRefundOrderRequest:
      type: object
      required: [ store_id, external_order_id, external_refund_id ]
      properties:
        store_id:
          type: string
          format: uuid
          description: Store id.
        external_order_id: { type: string }
        external_refund_id: { type: string }
        refund_total: { type: number, format: double, nullable: true }
        refunded_at: { type: string, format: date-time, nullable: true }

    OrderAttributionResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        merchant_id: { type: string, format: uuid }
        order_source:
          type: string
          enum: [ SHOPIFY, DIRECT_API ]
        external_order_id: { type: string }
        order_number: { type: string, nullable: true }
        paid_at: { type: string, format: date-time, nullable: true }
        currency: { type: string }
        subtotal_price: { type: number, format: double, nullable: true }
        discount_total: { type: number, format: double, nullable: true }
        total_price: { type: number, format: double, nullable: true }
        purchase_intent_token: { type: string, nullable: true }
        link_id: { type: string, format: uuid, nullable: true }
        link_name: { type: string, nullable: true }
        link_code: { type: string, nullable: true }
        creator_id: { type: string, format: uuid, nullable: true }
        creator_handle: { type: string, nullable: true }
        creator_display_name: { type: string, nullable: true }
        duplicate_suspect: { type: boolean }
        duplicate_confidence:
          $ref: "#/components/schemas/DuplicateConfidence"
          nullable: true
        duplicate_reason:
          $ref: "#/components/schemas/DuplicateReason"
          nullable: true
        duplicate_of_order_attribution_id: { type: string, format: uuid, nullable: true }
        window_status: { type: string, nullable: true }
        token_integrity: { type: string, nullable: true }
        integrity_reason: { type: string, nullable: true }
        origin_match_status:
          $ref: "#/components/schemas/OriginMatchStatus"
        integrity_score: { type: integer, minimum: 0, maximum: 100 }
        integrity_band:
          $ref: "#/components/schemas/IntegrityBand"
        review_required: { type: boolean }
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    OrderAttributionTimelineEventResponse:
      type: object
      properties:
        event_type: { type: string }
        occurred_at: { type: string, format: date-time }

    OrderAttributionDetailsResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_source:
          type: string
          enum: [ SHOPIFY, DIRECT_API ]
        external_order_id: { type: string }
        order_number: { type: string, nullable: true }
        paid_at: { type: string, format: date-time, nullable: true }
        currency: { type: string }
        subtotal_price: { type: number, format: double, nullable: true }
        discount_total: { type: number, format: double, nullable: true }
        total_price: { type: number, format: double, nullable: true }
        link_id: { type: string, format: uuid, nullable: true }
        link_name: { type: string, nullable: true }
        link_code: { type: string, nullable: true }
        creator_id: { type: string, format: uuid, nullable: true }
        creator_handle: { type: string, nullable: true }
        creator_display_name: { type: string, nullable: true }
        duplicate_suspect: { type: boolean }
        duplicate_confidence:
          $ref: "#/components/schemas/DuplicateConfidence"
          nullable: true
        duplicate_reason:
          $ref: "#/components/schemas/DuplicateReason"
          nullable: true
        duplicate_of_order_attribution_id: { type: string, format: uuid, nullable: true }
        attribution_locked_at: { type: string, format: date-time, nullable: true }
        attribution_window_days: { type: integer, nullable: true }
        window_status: { type: string, nullable: true }
        token_integrity: { type: string, nullable: true }
        integrity_reason: { type: string, nullable: true }
        origin_match_status:
          $ref: "#/components/schemas/OriginMatchStatus"
        integrity_score: { type: integer, minimum: 0, maximum: 100 }
        integrity_band:
          $ref: "#/components/schemas/IntegrityBand"
        review_required: { type: boolean }
        score_breakdown_json:
          $ref: "#/components/schemas/OrderAttributionScoreBreakdownResponse"
          nullable: true
        resolution_status:
          $ref: "#/components/schemas/ResolutionStatus"
        timeline:
          type: array
          items:
            $ref: "#/components/schemas/OrderAttributionTimelineEventResponse"
[...]
